* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%
}

.nav-icon {
    font-size: 60px;
    color: #61DAFB;
    position: absolute;
    top: 1rem;
    left: 1.5rem;
}

.bgimg {
    background-image: url('../public/folio.jpg');
    height: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    color: white;
    font-family: "Courier New", Courier, monospace;
    font-size: 25px;
}


.bottomleft {
    position: absolute;
    bottom: 1rem;
    left: 1.5rem;
}

.middle {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

hr {
    margin: auto;
    width: 40%;
}